/* Global */
:root {
    /* Color */
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark-blue:#007DB2;
    --color-dark-grey: #707070;
    --color-light-white: #F2F2F2;
    --color-grey: #A4ADB3;
    --color-blue: #009EE3;
    --color-petrol: #0D5C7E;
    --color-light-grey:#f8f4f4cb;
    --color-navbar:rgb(1, 146, 194);

   /* Font size */
    --font-large: 50px;
    --font-medium: 30px;
    --font-regular: 22px;
    --font-reguar-small:20px;
    --font-small: 14px;
    --font-micro: 12px;

   /* Font weight */
    --weight-extra:800;
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
    --weight-light: 300;
}
 /* Universal tags */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color:var(--color-light-white);
    margin: 0;
}
a {
    text-decoration: none;  
}
button{
    background-color:transparent;
    border: none;
    outline: none;
    color:var(--color-white);
}
  /* class Section common */
.section {
    padding:0 100px;
}
  /* Typography */
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-bold); 
}
h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
}
h4{
    font-size: var(--font-regular-small);
    font-weight: var(--weight-light);
}
h5{
    font-size: var(--font-micro);
    font-weight: var(--weight-light);
}
p {
    font-size: var(--font-micro);
    /* font-weight: var(--font-light); */
}

  /* Navbar */
#navbar{
    position: fixed;
    /* width: 100%; */
    /* top:20px; */
    position: absolute;
    top:18px;
    left:17px;
    right:20px; 
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: var(--color-navbar);
    background: linear-gradient(to right, var(--color-navbar) , rgb(1, 175, 232));
   padding:6px 0;
    z-index: 1;
}
.navbar__logo{
    display:flex;
    align-items:center;
    font-family:sans-serif; 
    padding: 0 22px 0 8px; 
}
.navbar__logo__img{
    width:17%;
    height:22%;
}
.navbar__vertical__line{
    height:30px;
    border-left:2px solid var(--color-blue);
    margin:0 4px 0 2px;

}
.navbar__name{
    color: var(--color-white);
    display: flex;  
    align-items:center;
    margin: 15px 0; 
}
.navbar__name__louis{
    margin:5px 0;
    font-weight: var(--weight-regular);
}
.navbar__name span{
    font-size: var(--font-regular);
    font-weight:100;
    font-family:sans-serif;
    color:var(--color-light-grey);
}
.navbar__toggle-box{
    border:1px solid var(--color-white);
    border-radius:1px;
    width:80px;
    height:35px;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    color:var(--color-white); 
    margin-right: 18px;
}
.navbar__toggle_home{
    font-family: open sans;
    font-size: var(--font-micro);
    }
.navbar__toggle-btn{
    font-size: var(--font-small);
    font-weight: var(--weight-light); 
}

 /* main (von der Aufgabe) aktuelles seite  */
.aktuelles__containers{
    display:flex;
    justify-content: space-evenly;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;  
}
.aktuelles__info{
    width:22%;
    height:30vh;
    border:1px solid white;
    padding:0 13px;
    margin:0 9px;
    background-color:white; 
}
.aktuelles__info img{
    width:100%;
}
.info__title{
    color:var(--color-grey);
    /* font-size:16px; */
    font-weight: var(--weight-light);
    font-family:sans-serif;
    margin:10px auto ;
}
.info__text{
    color:var(--color-dark-grey);
    /* font-size: 10px; */
}
/* RSS Feed */
#rss-feed{
    display:flex;
    justify-content: center;
    align-items:center;
}
#rss-feed .rss--abo{
    background-color: var(--color-black); 
    font-size:var(--font-size-micro);
    font-weight: var(--weight-bold);
    padding:12px 14px;
    margin:30px 0;   
}
.rss--reader img{
   width:132%;
    /* margin:12px 0; */
    /* padding:0 2px; */
}
/* Customer References */
#reference__container{
    background: url('imgs/Digitalisierung.jpeg') center/cover no-repeat;
    height: 48vh;
    opacity: 0.9;
    text-align: center;   
}
.reference__title{
   color:var(--color-blue);
   padding-top: 70px;
   margin-bottom:0;
}
.reference__radios i {
    color:var(--color-blue);
    font-size:5px;
    margin:0 -1px;
} 
.reference__bar{
  width: 82%;
  height: 1.3px;
  background-color: var(--color-petrol);
  margin:17px auto ;
}
.reference__value {
    width:45%;
    height:2.3px;
    background-color: var(--color-blue);
    margin:0 auto;
}
.reference__companie{
    display:flex;
    justify-content:space-between;
    color:var(--color-white); 
}
.reference__description{
    width:55%;
    text-align:start; 
}
.reference__description :first-child{
    font-size:var(--font-small); 
    margin:0;
    /* color:pink; */
}
.reference__description :last-child{
    font-size:10px; 
    margin: 15px 0 0 0;   
}
.reference__description :last-child span{
    font-size:17px;
    font-weight:var(--weight-bold);
}
.reference__person{
    text-align:right;
    margin:0;
}
.reference__person :first-child{
    font-size:9px;
    padding:15px 0 0 0;
    margin-bottom: 0;
}
.reference__person :nth-child(2){
    font-size:9px;
    margin-top: 0;
}
.reference__person :last-child{
    width:35%;
    margin-top: 1px;
}

/* add. chatbox & annimation modal */
.chatbox{
    position:fixed;
    position:absolute;
    left: 30px;
    bottom:25px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    color:var(--color-white);
    background-color: var(--color-blue);
    margin:0;
    padding:0;
}
.chatbox :nth-child(1){
    font-size: 10px;
    font-weight: var(--weight-bold);
    margin:10px 30px 10px 10px; 
}
.chatbox :nth-child(2){
    font-size: 10px;
    padding:0 10px 0 40px;
}
.chatbox :nth-child(3){
    display: none;
}

#animation--modal{
    padding:10px 10px 25px 25px;
    position: absolute;
    right:15px;
    bottom:23px;
    width: 297px;
    height: 485px;
    background-color:var(--color-white);
    animation: modal 1.5s linear;
}
@keyframes modal {
    
    0%   {margin-bottom:-100%; opacity: -100;}
    25%  {margin-bottom:-75%; opacity: -75}
    50%  {margin-bottom:-50%;opacity: -50;}
    75%  {margin-bottom:-25%; opacity: -0;}
    100% {margin-bottom:0%;opacity: 1;}
}
.animation--modal__icon-x{  
    text-align:right;
}
.animation--modal__icon-x :first-child{
    width:10%;
    color:var(--color-blue);  
}
.animation--modal__go-digital{
    padding:0 15px 0 0;
}
.animation--modal__go-digital__img{
    width:50%;
}
.animation--modal__title{
    color:var(--color-white);
    background-color:var(--color-blue);
    font-size:19px;
    padding:7px 0 7px 10px;
    margin:10px 0;
}
.animation--modal__go-digital :nth-child(2){
    width:85%;
}
.animation--modal__go-digital :nth-child(3){
    width:55%;
}
.animation--modal__go-digital :nth-child(4){
    width:90%;
}
.animation--modal__title__mddle{
    font-size:13px;
    font-weight:var(--weight-bold);
    margin:13px 0;
}
.animation--modal__text{
    color:var(--color-grey);
    font-size:10px;
}
.more__info--btn{
    background-color: var(--color-black); 
    font-size: 9px;
    font-weight: var(--weight-bold);
    padding:12px;
    margin:10px 0 10px 0;   
}
.more__info--arrow {
    position: absolute;
    left: 19px;
    bottom: 27px;
    font-size: 8px; 
}
.more__info--arrow img{
    width: 13.5%;
    height:5%;
}

/* For below 768px screen width*/

@media screen and (max-width: 768px){
    #navbar{
        width: 100%;
        position: fixed;
        top:0;
        left:0;    
    }
    .navbar__toggle-box{
        width:30px;
        height:30px; 
    }
    .navbar__toggle_home{
     display:none;
    }
    .navbar__toggle-btn{
        font-size: var(--font-small);
    }
    .section {
        padding:100px 0 0 0;  
    }
    .aktuelles__containers{
        width: 100%;
        height: 50vh;
        margin:0 ;
          
    }
    .aktuelles__info{
        width: 100%;
        height: 100%;
        padding:0 50px;   
    }
    .aktuelles__info img{
        width:100%;
    }
    .info__title{
       width:200px;   
    }
    .info__text{
        width:200px;
    }
    #reference__container{
        height: 40vh; 
        font-size:1.2em;
    }
    .reference__title{
       padding-top: 10px;
    }
    .reference__radios i {
        color:var(--color-blue);
        font-size:3px;
    } 
    .reference__bar{
      padding:0 10px;
    }
     .reference__companie{
        display:block; 
        padding:20px;
     }
     .reference__description{
         width:100%;
     }
     
    .reference__person :last-child{
        width:20%;
    }
    .chatbox{
       bottom:15px; 
       border-radius:100%;  
    }
    .chatbox :nth-child(1){
       display: none;
    }
    .chatbox :nth-child(2){
       display: none;
    }
    .chatbox :nth-child(3){
        display: block;
        width:30px;
     
        animation: up-down 1.4s infinite ease-in-out alternate;
    }
    @keyframes up-down {
        from {
          transform: translatey(1px);
        }
        to {
          transform: translatey(-4px);
        }
      }
    #animation--modal{
        bottom:240px;
        width: 100px;
        height: 30px;
        border-radius:100%;   
    }
    .animation--modal__icon-x :first-child{
        display:none; 
    }
    .animation--modal__go-digital{
        padding:0;
    }
    .animation--modal__go-digital__img{
        width:100%;
       
    }
    .animation--modal__title{
       display:none;
    }
    .animation--modal__go-digital :nth-child(2){
        display:none;
    }
    .animation--modal__go-digital :nth-child(3){
        display:none;
    }
    .animation--modal__go-digital :nth-child(4){
        display:none;
    }
    .animation--modal__title__mddle{
        display:none;
    }
    .animation--modal__text{
        display:none;
    }
    .more__info--btn{
        display:none;
    }
    .more__info--arrow {
        display:none;
    }
    .more__info--arrow img{
        display:none;
    }
    
}
    
    
